
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  background-color: #ccdde2;
}
header{
  background-color:#e2cce2;
  border:5px solid  #aa5eaa;
}
nav{
  background-color: #e2cce2;
}
main{
  background-color:#d699d6;
  font-size:7px;
}
footer{
  background-color:#d699d6;
}
 /*li{
  display:inline-block;
  width:50%;
}*/
h1{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  color:lightblue;
}
  p {
  line-height: 1.8;
}
nav{
display:inline-block;
width: 80%;
}
nav img{
  width:10%:
}
.grid{
  display: gride;
  grid-template-columns:40% 40%;
  column-gap: 10px;
  justify-content:space-between;
  align-items:start;

}
.grid img{
  width: 100%;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;

}
